<div class="clearfix"></div>		 
<footer>
  <p>{$site[site_copyright]} <a href="http://www.yzmcms.com/" target="_blank">帅气的采用了YzmCMS</a> {$site[site_filing]} <a href="{U('guestbook/index/init')}" target="_blank">留言板</a></p>
</footer>
<a href="javascript:void" class="cd-top">Top</a>
<div class="none">{$site[site_code]}</div>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</body>
</html>